<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/alert.css">
    <link rel="stylesheet" href="~/FontAwesome.Pro.6.1.2/Web/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@

</head>

<body>
    <!-- #region Top Header-->

    <div class="top-header container">
        <div class="searchBox">
            <div class="input-group">
                <input class="form-control form-control-topH" type="search" id="searchInp" placeholder="جست و جو ...">
                <div class="input-group-append input-group-append-topH">
                    <button onclick="searchProduct()" href="#" class="input-group-text" id="my-addon">
                        <i class="fas fa-search text-muted"></i>
                    </button>
                </div>
            </div>
        </div>
        <a href="/">
            <div class="logoBox">
                <img src="/image/logo.png" class="rounded-circle" width="100px" height="100px">
            </div>
        </a>
        @if (User.Identity.IsAuthenticated)
        {

            <div class="left-box-top d-flex">
                <ul class="d-flex justify-content-between">
                    <li> <a href="/Panel" class="text-dark"> پنل کاربری </a> </li>
                    <li> <a href="/Identity/Account/Logout" class="text-dark"> خروج </a> </li>
                    @*محل قرار گیری سبد خرید و نام*@
                    @if (User.Identity.IsAuthenticated)
                        @await Component.InvokeAsync("LoggedInUser")

                    </ul>
                </div>
        }
        else
        {
            <div class="left-box-top d-flex">
                <ul class="d-flex justify-content-between">
                    <li> <a href="/Identity/Account/Login" class="text-dark"> ورود </a> </li>
                    <li> <a href="/Identity/Account/Register"> ثبت نام </a> </li>
                </ul>

            </div>
        }
    </div>
    <!-- #endregion -->
    <!-- #region Header-->
    <div class="header">
        <header>
            <nav class="navbar navbar-expand-md navbar-light bg-light header-navbar">
                <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="my-nav" class="collapse navbar-collapse container">
                    <ul class="navbar-nav header-navItems">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/Index"> خانه </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/AllProducts"> محصولات </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/AboutUs"> درباره ما </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

    <div class="container">
        @RenderBody()



    </div>
    @await Component.InvokeAsync("FooterMgmt")

    <script type="text/javascript" src="~/js/all.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    <script type="text/javascript" src="~/js/Script.js"></script>
    <script type="text/javascript" src="~/js/alert.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
@*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["Msg"] != null && TempData["State"] != null)
    {
        string msg = TempData["Msg"].ToString();
        string state = TempData["State"].ToString();
        <script>

            showAlert('@TempData["State"].ToString()', '@Html.Raw(TempData["Msg"].ToString())')
        </script>
        TempData["State"] = null;
        TempData["Msg"] = null;

    }
    <script>
        function searchProduct() {
            const inp = document.querySelector("#searchInp").value;
            window.location.replace("/AllProducts?search=" + inp)
        }
    </script>
</body>

</html>
