@page
@model FS.FruitStore.Pages.Admin.Discounts.DetailsModel

@{
    ViewData["Title"] = "جزئیات تخفیف";
}
<div class="row">
    <partial name="_Panel" />
    <div class="col-lg-9 col-12 mt-5">
        <div class="card mb-4 mt-2 pb-4 text-center">
            <div class="card-header d-flex">
                <h4 class="h4 text-center m-auto text-dark"> ایجاد تخفیف </h4>
            </div>
            <div class="card-body">
                <form>
                    <h5> درصد </h5>
                    <input asp-for="Discount.Percent" class="form-control w-75" disabled>
                    <h5 class="my-3"> توضیحات </h5>
                    <input asp-for="Discount.Occasion" class="form-control" disabled>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-md-6 col-12 my-1">
                            <a asp-page="./Edit" asp-route-id="@Model.Discount.Id" class="btn btn-block btn-secondary"> ویرایش </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 my-1">
                            <a asp-page="./Index" class="btn btn-block btn-success" type="submit"> بازگشت </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

