@page
@model FS.FruitStore.Pages.Admin.Preferences.FooterManagement.Footer_mgmtModel
@{
    ViewData["Title"] = "مدیریت فوتر";
}
<div class="row">
    <!-- #region پنل-->
    <partial name="_Panel" />
    <!-- #endregion -->
    <div class="col-lg-9 col-12 mt-5">
        <div class="card mb-4 mt-2 pb-4 text-center">
            <div class="card-header d-flex">
                <h4 class="h4 text-center m-auto"> مدیریت فوتر </h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Footer.Id" />
                    <input type="hidden" asp-for="Footer.TrustSymbol" />
                    <input type="hidden" asp-for="Footer.TrustSymbol2" />
                    <div>
                        <label> راه های ارتباطی </label>
                        <div class="d-flex justify-content-between">
                            <select class="custom-select  mb-3" asp-for="SelectedCwId" asp-items="Model.CWs">
                            </select>
                            <button asp-page-handler="AddCW" class="btn btn-success"> افزودن </button>
                        </div>
                        <table class="table table-bordered mx-3">
                            <thead>
                                <tr>
                                    <th class="text-center"> نام </th>
                                    <th class="text-center"> آدرس </th>
                                    <th class="text-center"> نمایه </th>
                                    <th class="text-center"> مدیریت </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.FooterCWs)
                                {
                                    <tr>
                                        <td class="text-center"> @item.Name </td>
                                        <td class="text-center"> @item.Address </td>
                                        <td class="text-center"> <i class="@item.Icon"></i> </td>
                                        <td class=" text-center">
                                            <button asp-page-handler="RemoveCW" type="submit" class="align-middle btn text-primary " asp-route-Id="@item.Id"><i class="fa fa-trash"></i></button>
                                    </tr>
                                }

                            </tbody>
                        </table>

                        <label> توضیحات : </label>
                        <textarea cols="30" rows="10" placeholder="توضیحات را وارد کنید . . ." asp-for="Footer.Description"
                                  class="form-control"></textarea>
                        <hr color="#eee" size="2px">
                        <label> نماد های اعتماد </label>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <img width="160px" height="160px" class="border mx-auto d-block my-2" src="~/Preferences/@Model.Footer.TrustSymbol" id="imgPreview">
                                <div class="custom-file">
                                    <label for="fileup" class="custom-file-label text-center"> اضافه کردن </label>
                                    <input id="imgUp" name="ImgUp" type="file" class="custom-file-input">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <img width="160px" height="160px" class="border mx-auto d-block my-2" src="~/Preferences/@Model.Footer.TrustSymbol2" id="imgPreview1">
                                <div class="custom-file">
                                    <label for="fileup" class="custom-file-label text-center"> اضافه کردن </label>
                                    <input id="imgUp2" name="ImgUp2" type="file" class="custom-file-input">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-block mx-auto my-3 w-75 d-block"> ثبت </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{


    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#imgUp").change(function () {
            readURL(this);
        });

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader1 = new FileReader();

                reader1.onload = function (e) {
                    $('#imgPreview1').attr('src', e.target.result);
                }

                reader1.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#imgUp2").change(function () {
            readURL1(this);
        });
    </script>
    }