@page
@model FS.FruitStore.Pages.BadRequestModel
@{
}
<div class="badRequests">
    <h1>  400 </h1>
    <h4>Bad Request</h4>
    <p>  درخواست شما با ارور مواجه شد . . . </p>
    <a href="index.html" class="error-404"> خانه </a>
</div>