@page
@model FS.FruitStore.Pages.NotFoundModel
@{
}
<div class="notFound">
    <h1>  404 </h1>
    <h4>خطایی رخ داد</h4>
    <p>  نتیجه ای یافت نشد... </p>
    <a href="index.html" class="error-404"> خانه </a>
</div>
