@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "دسترسی نامعتبر";
}
<div class="AccessDenied">
    <h1>  403 </h1>
    <h4>Access Denied</h4>
    <p>  نتیجه ای یافت نشد... </p>
    <a href="index.html" class="error-404"> خانه </a>
</div>