@page
@model FS.FruitStore.Pages.Admin.Preferences.BenefitsBarManagement.DetailsModel
@{
    ViewData["Title"] = "جزئیات نوار مزایا و خدمات";
}
<div class="row">
    <!-- #region پنل-->
    <partial name="_Panel" />
    <!-- #endregion -->
    <div class="col-lg-9 col-12">
        <div class="card">
            <div class="card-header d-flex">
                <h4 class="h4 text-center mx-auto font-weight-bold title-text"> اطلاعات مزایای محصول </h4>
            </div>
            <div class="card-body">
                <label for="name" class="my-2"> متن : </label>
                <input asp-for="BenefitBar.Text" class="form-control" disabled/>

                <label for="name" class="my-2"> نمایه : </label>
                <br />
                <img src="~/Preferences/@Model.BenefitBar.Img" width="350" height="350" class="mx-auto mb-2 rounded"></img>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <a asp-page="Edit" asp-route-Id="@Model.BenefitBar.Id" class="btn btn-block btn-info"> ویرایش </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a asp-page="Index" class="btn btn-block btn-secondary"> بازگشت </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>