@page
@model FS.FruitStore.Pages.Admin.Preferences.BenefitsBarManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BenefitBar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BenefitBar.Id" />
            <div class="form-group">
                <label asp-for="BenefitBar.Text" class="control-label"></label>
                <input asp-for="BenefitBar.Text" class="form-control" />
                <span asp-validation-for="BenefitBar.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitBar.Img" class="control-label"></label>
                <input asp-for="BenefitBar.Img" class="form-control" />
                <span asp-validation-for="BenefitBar.Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitBar.CreateDate" class="control-label"></label>
                <input asp-for="BenefitBar.CreateDate" class="form-control" />
                <span asp-validation-for="BenefitBar.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
