@page
@model FS.FruitStore.Pages.Admin.Orders.HistoryModel
@{
    ViewData["Title"] = "تاریخچه سفارشات";
}

<div class="row">
    <partial name="_Panel" />


    <div class="col-lg-9 col-12">
        <div class="card mt-5">
            <div class="card-header bg-transparent d-flex ">
                <a asp-page="Index" class="btn btn-secondary"> بازگشت</a>
                <h4 class="h4 text0center m-auto"> تاریخچه سفارشات </h4>
            </div>

            <div class="card-body">
                <form method="post">
                    @if (Model.Model.Any())
                    {
                        @foreach (var item in Model.Model)
                        {

                            <div class="card mb-3 shadow">
                                <div class="card-body d-lg-flex">

                                    <div class="d-flex justify-contrnt-between align-items-center" style="overflow: hidden; grid-gap: 50px;">
                                        <span> سفارش دهنده : @item.FullName </span>
                                        <p class="mt-3 h5"> تعداد : @item.OrderCount </p>
                                        <a asp-page="Details" class="btn btn-info text-center d-block h-75 mt-3 mr-1" asp-route-Id="@item.ID" asp-route-factorId="@item.OrderId" asp-route-isIndex="false">جزئیات</a>
                                    </div>
                                </div>
                            </div>



                        }
                    }
                    else
                    {
                        <h4 class="h4 alert alert-info text-center"> سفارشی موجود نیست </h4>

                    }


                </form>
            </div>

        </div>
    </div>
</div>