@page
@model FS.FruitStore.Pages.Admin.Preferences.ContactWays_Management.DetailsModel
@{
    ViewData["Title"] = "جزئیات راه های ارتباطی";
}
<div class="row">

    <!-- #region پنل-->
    <partial name="_Panel" />
    <!-- #endregion -->
    <div class="col-lg-9 col-12 mt-5">
        <div class="card">
            <div class="card-header d-flex">
                <h4 class="h4 text-center mx-auto font-weight-bold title-text"> اطلاعات راه های ارتباطی </h4>
            </div>
            <div class="card-body">
                <label for="name" class="my-2"> نام : </label>
                <input asp-for="ContactWays.Name" class="form-control" disabled>

                <label for="name" class="my-2"> آدرس : </label>
                <input asp-for="ContactWays.Address" class="form-control" disabled>

                <label for="name" class="my-2"> نمایه : </label>
                <br />
                <i style="font-size:32px;" class="mx-2 @Model.ContactWays.Icon"></i> 


                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <a asp-page="Edit" asp-route-Id="@Model.ContactWays.Id" class="btn btn-block btn-info"> ویرایش </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <a asp-page="Index" class="btn btn-block btn-secondary"> بازگشت </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>