@page
@model FS.FruitStore.Pages.Panel.EditModel


<div class="row">
    <partial name="_Panel" />

    <div class="col-lg-9 col-12">
        <form method="post">
            <input type="hidden" asp-for="Users.Id" />
            <div class="card my-5 pb-4 text-center">
                <div class="card-header">
                    <h4 class="h4"> ویرایش اطلاعات شخصی </h4>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h6 class="my-3 text-right"> نام : </h6>
                            <input asp-for="Users.Name" class="form-control mt-2">
                            <h6 class="my-3 text-right"> شماره تلفن : </h6>
                            <input asp-for="Users.PhoneNumber" class="form-control mt-2">


                            <h6 class="my-3 text-right"> استان : </h6>
                            <input asp-for="Users.State" class="form-control mt-2"
                                   placeholder="استان خود را وارد کنید . . . ">

                            <h6 class="my-3 text-right"> شهر : </h6>
                            <input asp-for="Users.City" class="form-control mt-2"
                                   placeholder="شهر خود را وارد کنید . . . ">


                            <h6 class="my-3 text-right"> آدرس </h6>
                            <textarea asp-for="Users.Address" class="form-control"></textarea>

                        </div>
                        <div class="col-lg-6 col-12">
                            <h6 class="my-3 text-right"> نام خانوادگی : </h6>
                            <input asp-for="Users.LastName" class="form-control mt-2">

                            <h6 class="my-3 text-right"> ایمیل : </h6>
                            <input type="email" asp-for="Users.Email" class="form-control mt-2">

                            <h6 class="my-3 text-right"> کد پستی : </h6>
                            <input asp-for="Users.PostalCode" class="form-control mt-2">

                            <a style="background: #eee" class="btn btn-block mt-5" href="/Identity/Account/Manage/ChangePassword">تغییر رمز عبور</a>

                        </div>



                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6 col-12">
                            <button class="btn btn-warning btn-block" onclick="enter()"> ثبت اطلاعات </button>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a asp-page="Index" class="btn btn-danger btn-block">
                                بازگشت
                            </a>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div> 