@page
@model Mahshop.Pages.Payment.PaymentInfoModel
@{
    ViewData["Title"] = "اطلاعات پرداخت";
}
<div class="alert alert-primary d-block mx-auto mt-5 p-5 w-50">
    <p class="mt-2 text-center font-weight-bold">
        پرداخت با موفقیت انجام شد !
    </p>
    <p class="mt-2 text-center font-weight-bold">
        شماره پیگیری 1234
    </p>
    <p class="mt-2 text-center font-weight-bold">
        شماره پرداخت 4321
    </p>
</div>