@page
@model Mahshop.Pages.Payment.PaymentInfoModel
@{
}
<div class="alert alert-primary d-block margin-auto p-5 text-center w-75">
    <p>
        پرداخت با موفقیت انجام شد !
    </p>
    <p class="mt-2">
        شماره پیگیری 1234
    </p>
    <p class="mt-2">
        شماره پرداخت 4321
    </p>
</div>